@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #1c1c1c;
}


h2{
    font-size: 46px;
    line-height: 54px;
    color: #1c1c1c;
}


h4{
    font-size: 20px;
    color: #1c1c1c;
}


h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: rgb(62, 62, 62);
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    background-color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/*navbar*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20 px 80 px;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0 5px 15px rgba(0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(12, 187, 187);    
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(12, 187, 187); 
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}



/* hero part */
#hero{
    background-image: url("img/hero1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 50px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h4{
    padding-bottom: 15px;
    color:  #FFBF00;
}
#hero h1{
    color: #FFBF00;
}
#hero p{
    color:  #FFBF00;
}
#hero button{
    background-image: url("img/h1.png");
    background-size: cover;
    background-position: top 25% right 0;
    background-color: rgb(240, 0, 0);
    color: #000000;
    border: 0;
    padding: 14px 80px 14 px 64px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 8px;
    border-width: 0;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    touch-action: manipulation;

}

/* feature box */
#feature{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    pad: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px #cce7d0;
    border-radius: 4px;
    margin: 15px 20px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(57, 57, 57, 0.466);    
}
#feature .fe-box img{
    width: 90%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    
    pad: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(2, 6, 5);
   
}

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.249);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .Des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .Des span{
    color: darkslategray;
    font-size: 12px;
}
#product1 .pro .Des h5{
    padding: 0px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .Des i{
    font-size: 12px;
    color: #FFD700;
}
#product1 .pro .Des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(39, 188, 173);
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: rgb(39, 188, 173);
    border: 1px #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*banner */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/b.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h2{
    font-size: 30px;
    padding: 10px 0;
}
#banner button:hover{
    background: #a406f3;
    color: #ffffff;
}

/* newsletter*/
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
     
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
#newsletter p{
    font-size: 12px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #fc9300;
}

#newsletter .form{
    display:flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color:teal;
    color: #ffffff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: rgb(3, 196, 196);
}
footer .copyright{
    width: 100%;
    text-align: center;
}









/* media query */
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }

    #hero {
     
        height: 70vh; 
        padding: 0 50px;
        background-position: top 75% right 75%;       
    }
    #feature{
        justify-content: center;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #newsletter .form{
        width: 70%;
    }
}

/*iphone xr*/
@media(max-width: 477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 20px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 20px;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer .pay{
        width: 80%;
    }
}